body{
    background-color: rgb(240, 17, 252);
}
#reset{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: monospace;
}
#stop{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-family: monospace;
}
#timer{
    font-size: 75px;
    color: chartreuse;
    font-family: consolas, monospace
}
#timecontainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: black;
}
